# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# SQLite database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/

# ML model
models/anemia_model(1).h5

# OS
.DS_Store